html {
  font-size: 100%;
  font-family: sans;
}

select, textarea, input, button {
  font: inherit;
}

body {
  margin: 0rem;
}

#page-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  margin: 1rem;
}

nav {
  padding: 1rem;
  border-right: solid black 0.1rem;
  min-width: 7rem;
}

#main-content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
}

form label {
  grid-column: 1;
}
form input {
  grid-column: 2;
}
form button {
  grid-column: 1 / -1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid black 0.1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

header p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}