html {
  font-size: 100%;
  font-family: sans;
}

select, textarea, input, button {
  font: inherit;
}

body {
  margin: 0rem;
}

main {
  display: flex;
  flex-direction: row;
}

nav {
  margin: 1rem;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4px;
}

form label {
  grid-column: 1;
}
form input {
  grid-column: 2;
}
form button {
  grid-column: 1 / -1;
}